._form {
    &__input,
    &__textarea{
        outline:none;
        background: $white;
        width:100%;
        font-size: 14px;
        padding: 15px;
        color: $blue;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px 2px rgba(0,0,0,.15);
        border: none;

        &::placeholder{
            color: $blue;
        }
    }


    &__textarea {
        height: 100px;
    }

    &__label{
        color: $blue;
    }


    &._submit{
        color:#fff;
        background: $blue;
        width: 150px;
        transition: all .3s ease;
        padding: 15px 0;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
        font-size: 14px;
        &:hover{
            background: $linkHover;
        }
    }
}
