header.header.-ontop
  .container
    .header__wrapper
      a.header__logo(href="/")
        img(src="/images/logo.png")
      .header__container
        nav.header__nav    
          ul.header__list
            li
              a(href="/") home
            li
              a(href="/programas") programas
            li
              a(href="/tienda") shop
          ul.header__list
            li
              a(href="/club") aguas arriba club
            li
              a(href="#contacto") contacto
      .header__hamburguer
        span
        span
        span