extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  main.agradecimiento
    section.agradecimiento__hero
      .agradecimiento__hero__background
      .agradecimiento__hero__container
        .agradecimiento__hero__wrapper
          h2.agradecimiento__hero__title
            span ¡Muchas gracias!
          p.agradecimiento__hero__text Tu pedido se envió con éxito. pronto nos pondremos en contacto vía email con las intrucciones para el pago.

